<div class="module-container">
  <div class="first">
    <app-card
      title="SECURE"
      content="Send money online fast, secure and easy. Live tracking and notifications + flexible delivery and payment options."
      imageUrl="../../assets/images/secureCard.svg"
    >
    </app-card>
  </div>
  <div class="middle">
    <app-card
      title="EASY ACCESSIBLE"
      content="Create chart for any currency pair in the world to see their currency history.This currency charts use live mid-market rates,are easy to use,and are very reliable."
      imageUrl="../../assets/images/accessibleCard.svg"
    >
    </app-card>
  </div>
  <div class="last">
    <app-card
      title="FAST AND RELIABLE"
      content="Need to know when a currency hits a specific rate? The Xe Rate alerts will let you know when the rate you need is triggered on your selected currency pairs."
      imageUrl="../../assets/images/fastCard.svg"
    >
    </app-card>
  </div>
</div>

<!-- <div class="module-container">
  <app-card
    *ngFor="let card of cardData"
    [title]="card.title"
    [content]="card.content"
    [imageUrl]="card.imageUrl"

  ></app-card>
</div> -->
