<div class="row-container">
  <img src="../../assets/images/logo.svg" alt="Logo SVG Icon" />
  <input type="checkbox" id="modal" />
  <label for="modal" class="button-as-link">LOGIN</label>

  <label for="modal" class="modal-background"></label>
  <div class="modal">
    <div class="modal-logo">
      <img src="../../assets/images/logo.svg" alt="Logo SVG Icon" />
    </div>
    <div class="border"></div>
    <div class="modal-header">
      <h1>Login Account</h1>
    </div>
    <div>
      <input type="text" placeholder="Email ID" />
    </div>
    <div>
      <input type="password" placeholder="Password" />
    </div>
    <div class="text-button-container">
      <div>
        <span>I don't have an account</span>
      </div>
      <div>
        <span>Forgot your password?</span>
      </div>
    </div>
    <button class="submit-button">LOGIN</button>
  </div>
</div>
