<div class="banner-row-container">
  <div class="text-container">
    <h1 class="title-description">
      Exchange Your Money <br />
      <span class="highlight-text">Easily, Quickly And <br />Securely</span>
    </h1>

    <p class="text-description">
      Best source for currency conversion,sending money<br />
      online and tracking exchange rates. Live tracking and<br />
      notifications + flexible delivery and payment options.
    </p>
    <button class="fund-button">Exchange Fund</button>
  </div>
  <div class="image-container">
    <div class="circle-background"></div>
    <img src="../../assets/images/hero-banner.svg" alt="hero-banner SVG Icon" />
  </div>
</div>
