<div class="convert-container">
  <div class="convert-title">
    <img src="../../assets/images/convert-icon.svg" alt="convert-icon" />
    <h3>Convert Fund</h3>
  </div>

  <div class="input-container">
    <div class="first-div">
      <div class="div-label">
        <label for="amount-label">Amount</label>
      </div>
      <div class="amount-div">
        <input
          type="text"
          id="amount"
          class="amount"
          placeholder="Enter amount"
          (keyup)="onKey($event)"
        />
      </div>
    </div>

    <div class="second-div">
      <div class="div-label">
        <label for="from-label">From</label>
      </div>
      <div class="select-container">
        <select #currenciesFrom (change)="onSelectFrom(currenciesFrom.value)">
          <option value="USD">🇺🇸 - USD - US Dollar</option>
          <option value="GBP">🇬🇧 - GBP - British Pound</option>
          <option value="EUR">🇪🇺 - EUR - Euro</option>
        </select>
      </div>
    </div>

    <div class="third-div">
      <div class="image-convert-icon">
        <img
          src="../../assets/images/exchance-icon.svg"
          alt="exchange-icon"
          class="currency-icon"
        />
      </div>
    </div>

    <div class="forth-div">
      <div class="div-label">
        <label for="to-label">To</label>
      </div>
      <div class="select-container">
        <select #currenciesTo (change)="onSelectTo(currenciesTo.value)">
          <option value="GBP">🇬🇧 - GBP - British Pound</option>
          <option value="USD">🇺🇸 - USD - US Dollar</option>
          <option value="EUR">🇪🇺 - EUR - Euro</option>
        </select>
      </div>
    </div>
  </div>

  <div class="calculator-area">
    <div *ngIf="rate > 0" class="result">
      <h2>{{ amount }} {{ formattedFrom }} =</h2>
      <h1>{{ rate }} {{ formattedTo }}</h1>
      <h2>1 {{ from }} = {{ rate / amount }} {{ to }}</h2>
      <h2>1 {{ to }} = {{ (1 / (rate / amount)).toFixed(5) }} {{ from }}</h2>
    </div>
    <div class="exchange"></div>

    <div class="button-container">
      <button class="convert-button" (click)="convert()">Convert</button>
    </div>
  </div>
</div>
